

<div class="scoreboard-table">
	<table class="scoreboard">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Avatar</th>
				<th>Instagram Account</th>
				<th>Total Score</th>
			</tr>
		</thead>
		<tbody>
	<% User.sort_by_total_score.each do |user| %>
			<tr>
				<td>User rank goes here</td>
				<td><img src="<%= user.instagram_profile_picture  %>" class="scoreboard_profile_img"></td>
				<td><a href="http://instagram.com/<%= user.instagram_account %>" target="_blank"><%= user.instagram_account %></a></td>
				<td><%= user.total_score %></td>
			</tr>
	<% end %>
		</tbody>
	</table>
</div>
