<br>
<br>
<br>
<br>
<br>

<div class="login-form">
	<h3 class="login">LOG IN.</h3>

	<form action="/sessions" method="post">
		<%= token_tag %>
		<p>
			USERNAME:
			<input type="text" name="username">
		</p>
		<p>
			PASSWORD:
			<input type="password" name="password">
		</p>
		<input type="submit" name="Log In">
	</form>
</div>