<h3>Welcome back... login to proceed</h3>

<form action="/sessions" method="post">
	<%= token_tag %>
	<input type="text" name="username">
	<input type="password" name="password">
	<input type="submit" name="Log In">
</form>