<h3>Welcome back... login to proceed</h3>

<form action="/sessions" method="post">
	<%= token_tag %>
	<p>
		USERNAME:
		<input type="text" name="username">
	</p>
	<p>
		PASSWORD:
		<input type="password" name="password">
	</p>
	<input type="submit" name="Log In">
</form>