<div>
  <%= button_to  "Login", login_path, method: :get %>
  <%= button_to "Signup", new_user_path, method: :get %>
</div>


<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		
		<a href="/" class="navbar-brand">BASIC</a>

		<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Log In", login_path, method: :get %></li>
				<li><%= link_to "Sign Up", new_user_path, method: :get %></li>
			</ul>
		</div>

	</div>
</div>
