<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		
		<a href="/" class="navbar-brand">BASIC</a>

		<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Educate Yourself <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="http://en.wikipedia.org/wiki/Basic_bitch" target="_blank">Wikipedia</a></li>
						<li><a href="https://www.youtube.com/watch?v=PaghIdSJKvQ" target="_blank">YouTube</a></li>
						<li><a href="http://nymag.com/thecut/2014/10/what-do-you-really-mean-by-basic-bitch.html" target="_blank">TheCut</a></li>
						<li><a href="http://massappeal.com/guide-to-dating-a-basic-bitch/" target="_blank">Mass Appeal</a></li>
					</ul>
				</li>
				<li><%= link_to "Log In", login_path, method: :get %></li>
				<li><%= link_to "Sign Up", new_user_path, method: :get %></li>
			</ul>
		</div>
	</div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<p class="navbar-text pull-left">© Annie Bae</p>
		<a href="http://instagram.com/anniebae" target="_blank" class="navbar-btn btn-warning btn pull-right">Follow on Instagram</a>
	</div>
</div>