<div class="table-container">

  <div id="welcome-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#welcome-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#welcome-carousel" data-slide-to="1"></li>
    </ol>
   
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="<%= asset_path( 'basic_3.png' ) %>" alt="..." class="welcome_logo">
        <div class="carousel-caption">
            <!-- <h3>Caption Text</h3> -->
        </div>
      </div>
      <div class="item">
        <div class="about-basic">
          <div class="about-basic-text">
            <h1 class="about-app"><u>ABOUT</u></h1>
            BASIC (BSC.) IS A UNIT OF MEASUREMENT THAT <br>
            DETERMINES HOW MUCH BASICNESS ONE POSSESSES. IT CAN
            BE MEASURED BY TAKING AN <br>INITIAL SURVEY WHEN
            ENTERING THE BASIC <br>COMMUNITY. HOW YOU ANSWER THE
            SURVEY WILL THEN BE CALCULATED IN <br>CONJUNCTION WITH
            AN EVALUATION OF YOUR <br>MOST RECENT INSTAGRAM POSTS.
            <br>- SIGN UP OR LOG IN -
          </div>
        </div>
        <div class="carousel-caption">
        </div>
      </div>
    </div>
   
    <!-- Controls -->

    <div class="carousel-control" id="chevron-arrows">
    <a class="left carousel-control" href="#welcome-carousel" role="button" data-slide="prev">
        <span>
          <%= icon('chevron-left') %>
        </span>
    </a>
    <a class="right carousel-control" href="#welcome-carousel" role="button" data-slide="next">
        <span>
          <%= icon('chevron-right') %>
        </span>
    </a>
    </div>
  </div> 

  <!-- Carousel -->
  <script>
    $(".carousel").carousel({
      interval: 5000
    })
  </script>


</div>



