@font-face {
  font-family: 'NovitoNova';
  src: font-url('NovitoNova-Thin.otf');
  src: font-url('NovitoNova-Thin.otf?#iefix') format('embedded-opentype'),
  font-url('NovitoNova-Thin.woff2') format('woff'),
  font-url('NovitoNova-Thin.ttf') format('truetype'),
  font-url('NovitoNova-Thin.svg#webfont3AwWkQXK') format('svg');
  font-weight: normal;
  font-style: normal;
}