.show-users-posts {
  height: 100px;
  width: 100px;
  background-color: black;
}

@font-face {
  font-family: 'NovitoNova';    
  src: url('/assets/fonts/NovitoNova-Thin.otf');
  src: url('/assets/fonts/NovitoNova-Thin.otf?#iefix') format('embedded-opentype'),
  url('/assets/fonts/NovitoNova-Thin.woff2') format('woff2'),
  url('/assets/fonts/NovitoNova-Thin.ttf') format('truetype'),
  url('/assets/fonts/NovitoNova-Thin.svg#webfont3AwWkQXK') format('svg');
}



.navbar-brand {
	font-family: NovitoNova;
	font-size: 400%;
}

.login {
  font-family: NovitoNova;
  font-size: 300%;
}

.new-user-form {
  font-family: NovitoNova;
  font-size: 300%;
}

.login-form {
margin: auto;
}


.signup-form {
  padding-left: 40%;

}


body {
	background-color: white;
	color: black;
}

.survey_img {
	height: 200px;
	width: 200px;
}

.welcome_logo {
	height: 800px;
	width: 800px;
}

.survey {
	margin-left: 50px;
	padding-bottom: 50px;
}

input {
	color: black;
}

.scoreboard_profile_img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}



table {
  border-collapse: collapse;
  width: 80%;
	height: 60%;
  text-align: center;
}
table td, table th {
  border: 1px solid black;
  text-align: center;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.table-container {
  padding-left: 15%;
}




.scoreboard_profile_img:hover {
	opacity: 1;
}

.scoreboard_profile_img {
	opacity: 0.4;
}


.counter {
	width: 10px;
}

.avatar_photo {
	width: 38px;
}

a {
  color: #A18BB5;
}

a:hover {
  color: #61536D;
}

