

body {
	background-color: white;
	color: black;
}

.survey_img {
	height: 200px;
	width: 200px;
}

.welcome_logo {
	height: 800px;
	width: 800px;
}

.survey {
	margin-left: 50px;
	padding-bottom: 50px;
}

input {
	color: black;
}

.scoreboard_profile_img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

table {
	width: 80%;
	height: 60%;
}

tr {
	border: 1px solid black;
}

td {
	border: 1px solid black;
}