@font-face {
  font-family: 'NovitoNova';    
  src: url('/assets/fonts/NovitoNova-Thin.otf');
  src: url('/assets/fonts/NovitoNova-Thin.otf?#iefix') format('embedded-opentype'),
  url('/assets/fonts/NovitoNova-Thin.woff2') format('woff2'),
  url('/assets/fonts/NovitoNova-Thin.ttf') format('truetype'),
  url('/assets/fonts/NovitoNova-Thin.svg#webfont3AwWkQXK') format('svg');
}

.navbar-brand {
	font-family: NovitoNova;
	font-size: 400%;
}

body {
	background-color: white;
	color: black;
}

.survey_img {
	height: 200px;
	width: 200px;
}

.welcome_logo {
	height: 800px;
	width: 800px;
}

.survey {
	margin-left: 50px;
	padding-bottom: 50px;
}

input {
	color: black;
}

.scoreboard_profile_img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}








table {
  border-collapse: collapse;
  width: 80%;
	height: 60%;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}



tr {
	padding-left: 10px;
}

td {
	padding-left: 10px;
}

th {
	padding-left: 10px;
}